@page "/DonutChartView"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Donut Chart View</PageTitle>

<HighChartsContainer Id="HighCharts" />

@code {

    protected override async Task OnInitializedAsync()
    {
        var Config = new ChartConfiguration()
            {
                Chart = new ChartConfiguration.Charts
                {
                    Type = Maanfee.Highcharts.ChartType.Pie,
                },
                Title = new Title()
                {
                    Text = "Corn vs wheat estimated production for 2023",
                    Align = ChartAlign.Center,
                    VerticalAlign = ChartVerticalAlign.Top,
                },
                SubTitle = new SubTitle
                {
                    Text = "<p style='color:#DC143C'>Maanfee</p>",
                    Align = ChartAlign.Center,
                    VerticalAlign = ChartVerticalAlign.Top,
                },
                Tooltip = new Tooltip
                {
                    ValueSuffix = " (1000 MT)",
                },
                PlotOptions = new PlotOptions
                {
                    Pie = new PlotOptions.Pies
                    {
                        AllowPointSelect = false,
                        //Cursor = Cursor.Pointer,
                        DataLabels = new PlotOptions.Pies.DataLabel
                        {
                            Enabled = true,
                            Format = "<b>{point.name}</b>: {point.percentage:.1f} %",
                        },
                        InnerSize = "50%",
                    }
                },
                PieSeries = new List<PieSeries>()
                {
                     new PieSeries
                     {
                          Name = "Brands",
                          ColorByPoint = true,
                          Data = new List<PieSeries.PieData> ()
                          {
                            new PieSeries.PieData
                            {
                                 Name = "Chrome",
                                 Y = 70.67F,
                                 //Selected = true,
                                 //Sliced = true,
                            },
                            new PieSeries.PieData
                            {
                                 Name = "Edge",
                                 Y = 14.77F,
                            },
                            new PieSeries.PieData
                            {
                                 Name = "Firefox",
                                 Y = 2.63F,
                            },
                            new PieSeries.PieData
                            {
                                 Name = "Internet Explorer",
                                 Y = 1.53F,
                            },
                            new PieSeries.PieData
                            {
                                 Name = "Opera",
                                 Y = 1.40F,
                            },
                            new PieSeries.PieData
                            {
                                 Name = "Sogou Explorer",
                                 Y = 0.84F,
                            },
                             new PieSeries.PieData
                            {
                                 Name = "QQ",
                                 Y = 0.51F,
                            },
                             new PieSeries.PieData
                            {
                                 Name = "Other",
                                 Y = 2.6F,
                            },
                          },
                     },
                },

            };

        await Chart.InitAsync("HighCharts").GenerateAsync<ChartConfiguration>(Config, false);
    }

}
