@page "/PieChartsView"

<PageTitle>PieChartsView</PageTitle>

<div class="row">
    <div class="col-3">
        <a href="/PieChartView" role="button" aria-pressed="true" class="btn btn-primary">Pie Chart</a>
    </div>
    <div class="col-3">
        <a href="/DonutChartView" role="button" aria-pressed="true" class="btn btn-primary">Donut Chart View</a>
    </div>
    <div class="col-3">
        <a href="/SemiCircleDonutView" role="button" aria-pressed="true" class="btn btn-primary">Semi Circle Donut Chart</a>
    </div>
</div>
