@page "/PieChartsView"

<PageTitle>PieChartsView</PageTitle>

<div class="row">
    <div class="col-3">
        <a href="/PieChartView" role="button" aria-pressed="true" class="btn btn-primary">Pie Chart</a>
    </div>
</div>
