@page "/LineChartsView"

<PageTitle>LineChartsView</PageTitle>

<div class="row">
    <div class="col-3">
        <a href="/LineWithDataLabelsView" role="button" aria-pressed="true" class="btn btn-primary">With data labels</a>
    </div>
</div>
