@namespace Maanfee.Highcharts

<div id="@Id" class="@Class"></div>

@code {

    [Parameter]
    public string Id { get; set; } = "HighCharts";

    [Parameter]
    public string Class { get; set; }

}
