@page "/PieChartView"

<PageTitle>PieChartView</PageTitle>

<div id="HighCharts"></div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var Config = new ChartConfiguration()
            {
                Chart = new ChartConfiguration.Charts
                {
                    Type = Maanfee.Highcharts.ChartType.Pie,
                },
                Title = new Title()
                {
                    Text = "Corn vs wheat estimated production for 2023",
                    Align = ChartAlign.Center,
                    VerticalAlign = ChartVerticalAlign.Top,
                },
                SubTitle = new SubTitle
                {
                    Text = "aaa",
                    Align = ChartAlign.Left,
                    VerticalAlign = ChartVerticalAlign.Top,
                },
                Tooltip = new Tooltip
                {
                    ValueSuffix = " (1000 MT)",
                },
                PlotOptions = new PlotOptions
                {
                    Pie = new PlotOptions.Pies
                    {
                        AllowPointSelect = true,
                        Cursor = Cursor.Pointer,
                        DataLabels = new PlotOptions.Pies.DataLabel
                        {
                            Enabled = true,
                            Format = "<b>{point.name}</b>: {point.percentage:.1f} %",
                        }
                    }
                },
                //Series = new List<PieSeri>()
                //{
                //     new PieSeri
                //     {
                //          Name = "Brands",
                //          ColorByPoint = true,
                //          Data = new List<PieSeri.PieData> ()
                //          {
                //            new PieSeri.PieData
                //            {
                //                 Name = "Chrome",
                //                 Y = 70.67F,
                //                 Selected = true,
                //                 Sliced = true,
                //            },
                //            new PieSeri.PieData
                //            {
                //                 Name = "Edge",
                //                 Y = 14.77F,
                //            },
                //            new PieSeri.PieData
                //            {
                //                 Name = "Firefox",
                //                 Y = 2.63F,
                //            },
                //            new PieSeri.PieData
                //            {
                //                 Name = "Internet Explorer",
                //                 Y = 1.53F,
                //            },
                //            new PieSeri.PieData
                //            {
                //                 Name = "Opera",
                //                 Y = 1.40F,
                //            },
                //            new PieSeri.PieData
                //            {
                //                 Name = "Sogou Explorer",
                //                 Y = 0.84F,
                //            },
                //             new PieSeri.PieData
                //            {
                //                 Name = "QQ",
                //                 Y = 0.51F,
                //            },
                //             new PieSeri.PieData
                //            {
                //                 Name = "Other",
                //                 Y = 2.6F,
                //            },
                //          },
                //     },
                //},

            };

        await Chart.InitAsync("HighCharts").GenerateAsync<ChartConfiguration>(Config, false);

    }

}

